name: Node.js CI PR
on:
  workflow_call:
    inputs:
      package_manager:
        required: false
        type: string
        default: 'yarn'
      node_version:
        required: false
        type: string
        default: '22.17.0'
      run_lint:
        required: false
        type: boolean
        default: false
      run_test:
        required: false
        type: boolean
        default: false
      run_type_check:
        required: false
        type: boolean
        default: false

jobs:
  build-pnpm:
    name: Node.js Build and Test
    runs-on: buildjet-4vcpu-ubuntu-2204
    if: ${{ inputs.package_manager == 'pnpm' }}
    strategy:
      matrix:
        node-version: [ "${{ inputs.node_version }}" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: ${{ inputs.package_manager }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Build
        run: pnpm build

      - name: Run Lint
        if: ${{ inputs.run_lint }}
        run: pnpm lint

      - name: Run Test
        if: ${{ inputs.run_test }}
        run: pnpm test

      - name: Run Type Check
        if: ${{ inputs.run_type_check }}
        run: pnpm type-check
  build-npm:
    name: Node.js Build and Test
    runs-on: buildjet-4vcpu-ubuntu-2204
    if: ${{ inputs.package_manager == 'npm' }}
    strategy:
      matrix:
        node-version: [ "${{ inputs.node_version }}" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Run Build
        run: npm run build

      - name: Run Lint
        if: ${{ inputs.run_lint }}
        run: npm run lint

      - name: Run Test
        if: ${{ inputs.run_test }}
        run: npm run test

      - name: Run Type Check
        if: ${{ inputs.run_type_check }}
        run: npm run type-check
  build-yarn:
    name: Node.js Build and Test
    runs-on: buildjet-4vcpu-ubuntu-2204
    if: ${{ inputs.package_manager == 'yarn' }}
    strategy:
      matrix:
        node-version: [ "${{ inputs.node_version }}" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run Build
        run: yarn build

      - name: Run Lint
        if: ${{ inputs.run_lint }}
        run: yarn lint

      - name: Run Test
        if: ${{ inputs.run_test }}
        run: yarn test

      - name: Run Type Check
        if: ${{ inputs.run_type_check }}
        run: yarn type-check
  build-bun:
    name: Node.js Build and Test
    runs-on: buildjet-4vcpu-ubuntu-2204
    if: ${{ inputs.package_manager == 'bun' }}
    strategy:
      matrix:
        node-version: [ "${{ inputs.node_version }}" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Build
        run: bun run build

      - name: Run Lint
        if: ${{ inputs.run_lint }}
        run: bun run lint

      - name: Run Test
        if: ${{ inputs.run_test }}
        run: bun run test

      - name: Run Type Check
        if: ${{ inputs.run_type_check }}
        run: bun run type-check